@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 0;
    background-color: #021226;
    color: #fff;
}
.main-heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
#editor{
    width: 50%;
    font-size: 20px;
    padding: 20px 30px;
    border: 1px solid #000;
    transition: 0.1s;
    resize: none;
    border: none;
    border-right: 2px solid rgb(107, 105, 105);
    outline: none;
}

#preview{
    width: 50%;
    font-size: 20px;
    padding: 20px 30px;
    border: 1px solid #000;
    resize: none;
    border: none;
    border-left: 2px solid rgb(107, 105, 105);
}
