@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.main-heading{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    letter-spacing: 1px;
}
#editor{
    resize: vertical;
    width: 703px;
    min-height: 313px;
    padding: 10px 20px;
    font-size: 20px;
    color: rgb(82, 82, 82);
    border-radius: 10px;
    transition: 0.1s;
    margin-bottom: 30px;
}
#editor:focus{
    border: 1px solid rgba(241, 26, 87, 0.739);
    outline: none;
}
#preview{
    width: 703px;
    min-height: 100px;
    padding: 10px 20px;
    font-size: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    border: 1px solid #333;
    border-radius: 10px;
}